.header {
  background-color: $color-green;

  &__container {
    padding: 0 10px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    color: $color-white;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 10px;

    &:hover,
    &:focus {
      color: $color-light-brown;
      outline: none;
      transition: 0.3s ease;
    }
  }
}
