.intro {
  background-color: $color-light-green;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }

  &__photo {
    height: 250px;
    width: 250px;
    border: 5px solid $color-white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 35px;
  }

  &__description {
    h2 {
      color: $color-green;
      font-weight: normal;
      font-style: italic;
      font-size: 48px;
      line-height: 48px;
      margin: 20px 0;
    }

    p {
      color: $color-gray;
      font-size: 24px;
      line-height: 24px;
      margin: 15px 0;
    }
  }

  //mobile version
  @include viewport--mobile {
    &__container {
      flex-direction: column;
    }

    &__photo {
      margin: 0;
    }
  }
}
