.portfolio {
    padding: 10px;
    padding-bottom: 30px;

    h2 {
        color: $color-light-brown;
        margin: 15px;
    }

    h3 {
        color: $color-gray;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__container {
        background-color: $color-light-green;
        border-radius: 15px;
        margin: 0;
        padding: 25px;
    }

    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        min-height: 240px;
        padding: 20px;
        margin: 30px 20px 0 20px;
        transition: all 0.5s ease;

        &:nth-child(even) {
            .portfolio__link {
                order: 1;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__link {
        flex-shrink: 0;
        align-self: center;
        display: flex;
        border: 1px solid $color-light-green;
        border-radius: 10px;
        width: 40%;
        overflow: hidden;
        transition: all 0.5s ease;
        
        &:hover {
            transform: scale(1.05);
        }
    }

    &__image {
        width: 100%;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        color: $color-gray;
        margin: 0;
        padding: 10px;
        margin: 0 auto;
    }

    &__name {
        font-size: 24px;
        font-style: italic;
        color: $color-green;
        text-align: center;
        margin: 0 0 15px 0;
    }

    &__details {
        font-size: 20px;
        margin: 0 0 15px 0;
    }

    &__stack {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 15px 0;    
    }

    
    &__item--task {
        background-color: $color-blue;
        min-height: auto;

        h4 {
            color: white;
            font-size: 20px;
        }
        p {
            color: white;
            font-size: 18px;
        }
        .portfolio__link {
            width: 20%;
        }
    }

  //mobile version
  @include viewport--mobile {
    &__container {
        padding: 25px 0;
    }

    &__item {
        flex-direction: column;
    }

    &__item--task .portfolio__link {
        width: auto;
    }

    &__link {
        margin: 0 auto;
        width: auto;
        order: 1;
    }
  }
}
