<!--Section task chess-->
<section class="task modal" id="task-chess">
    <div class="modal__inner">
        <button class="modal__button-close" type="button">Закрыть</button>
        <div class="task chess">
            <h5 class="task__title">Расстановка ферзей</h5>
            <p class="task__description">"Расстановка ферзей" - такая расстановка 8 ферзей на шахматной доске (8х8),
                при которой ни один из ферзей не может сбить ни одного другого ферзя. Ферзь бьёт в любом направлении - горизонтальном, вертикальном, диагональном.
                Найдем все возможные расстановки, дадим возможность пользователю ввести номер расстановки. Отобразим шахматную доску с выбранной расстановкой -
                расставленными ферзями. При нажатии мышью на любого из ферзей - подсветим клетки доски, которые он "пробивает".</p>
            <button class="chess__button button">Расстановка ферзей</button> 
            <div class="chess__result">
                <span class="chess__result-text"></span>
                <input class="chess__combination" type="text" placeholder="Введите номер комбинации">
                <button class="chess__button--combination button">Показать комбинацию</button> 
            </div>
        </div>
      </div>
</section>
<!--END Section task chess-->
<!--Section task chess knight-->
<section class="task modal" id="task-chess-knight">
    <div class="modal__inner">
        <button class="modal__button-close" type="button">Закрыть</button>
        <div class="task chess chess--knight">
            <h5 class="task__title">Обход конем шахматной доски</h5>
            <p class="task__description">Найдем программно один способ обойти все 64 клетки доски конём, чтобы в каждой
                клетке конь побывал ровно 1 раз. Обход должен начинаться с любой угловой клетки.
                Отобразим найденный способ (в каждой клеточке - номер хода, на котором конь попадает в эту клеточку).
                По нажатию кнопки - отобразим процесс обхода конём доски в динамике. Клетки, в которых конь уже побывал, подсветим.</p>
            <button class="chess__button button">Найти обход</button>
            <div class="chess__result">
              <span class="chess__result-text result"></span>
              <button class="chess__button--go button">Вперед, конь!</button>
            </div>
          </div>
      </div>
</section>
<!--END Section task chess knight-->
<!--Section task elevator-->
<section class="task modal" id="task-elevator">
    <div class="modal__inner">
        <button class="modal__button-close" type="button">Закрыть</button>
        <div class="task elevator">
            <h5 class="task__title">Лифт</h5>
            <p class="task__description">Построим программно дом, лифт (количество этажей дома настраивается программно).
                На каждом этаже - две кнопки для вызова лифта, "вверх" и "вниз", которые подсвечиваются, если нажаты мышью.
                В лифте - кнопки с номерами этажей, которые подсвечиваются, если нажаты мышью.
                Одновременно может быть нажато несколько кнопок на разных этажах и несколько кнопок внутри лифта.
                Добавим пасссажиров и запустим лифт.</p>
            <div class="elevator__create">
                <button class="elevator__create-house button">Построить дом</button>
                <button class="elevator__create-passengers button" disabled>Пассажиры</button>
            </div>
            <div class="elevator__container"></div>
        </div>
    </div>
</section>
<!--END Section task elevator-->
<!--Section task move&resize-->
<section class="task modal" id="task-move-resize">
    <div class="modal__inner">
        <button class="modal__button-close" type="button">Закрыть</button>
        <div class="task move-resize">
            <h5 class="task__title">Move & Resize</h5>
            <p class="task__description">Обработка событий мыши, перемещение, изменение размеров, отражение, масштабирование картинки в определенных границах.</p>
            <div class="move-resize__container">
                <div class="move-resize__image" data-action="image">
                  <div class="move-resize__control move-resize__control--left-top" data-action="left-top"></div>
                  <div class="move-resize__control move-resize__control--top" data-action="top"></div>
                  <div class="move-resize__control move-resize__control--right-top" data-action="right-top"></div>
                  <div class="move-resize__control move-resize__control--right" data-action="right"></div>
                  <div class="move-resize__control move-resize__control--right-bottom" data-action="right-bottom"></div>
                  <div class="move-resize__control move-resize__control--bottom" data-action="bottom"></div>
                  <div class="move-resize__control move-resize__control--left-bottom" data-action="left-bottom"></div>
                  <div class="move-resize__control move-resize__control--left" data-action="left"></div>
                </div>
              </div>
        </div>
    </div>
</section>
<!--END Section task move&resize-->