.drag-drop {
    width: calc(100vw - 100px);
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        box-sizing: border-box;
        position: relative;
        flex-grow: 1;
        outline: 1px solid rgb(105, 129, 57);
    }

    &__title {
        display: block;
		font-size: 24px;
		line-height: normal;
		font-weight: 600;
		margin: 10px;
    }

    &__image {
        box-sizing: border-box;
        display: block;

        &--drag {
            &:hover {
                cursor: grab;
            }

            &:active {
                cursor: grabbing;
            }
        }
    }
}

@include  viewport--mobile {
    .drag-drop {
        width: calc(100vw - 40px);
        min-height: calc(100vh - 100px);
        &__image {
            width: 80px;
            height: 55px;
        }
    }
}
