
// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-transparent: rgba(0, 0, 0, 0);

$color-light-green: #e0ebe7;
$color-brown: #865233;
$color-light-brown: #d48456;
$color-gray: #5f5f5f;
$color-light-gray: #cfcdcd;
$color-green: #297a67;
$color-blue: #335f74;

// Typography
$font-family: "Roboto", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$padding-tablet: 24px;

// Skills level
$start-level: 20%;
$begin-level: 40%;
$medium-level: 70%;
$high-level: 90%;
