
// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-transparent: rgba(0, 0, 0, 0);

$color-light-green: #e0ebe7;
$color-brown: #865233;
$color-light-brown: #d08b62;
$color-grey: #5f5f5f;
$color-light-grey: #afafaf;
$color-green: #297a67;

// Typography
$font-family: "Roboto", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$padding-tablet: 24px;

// Other
$high-level: 85%;
$medium-level: 65%;
$begin-level: 35%;
